In [2]:
import pandas as pd
import numpy as np

In [200]:
import json

with open('../../nodes2.json', 'r', encoding='utf-8') as f:
    json_file = json.load(f)

nodes2 = pd.json_normalize(json_file['people'])

In [208]:
edges2 = pd.read_csv('../../edges.csv')
sampled_edges2 = edges2.drop_duplicates(subset='target_user_id')
set_ids2 = list(set(sampled_edges2['target_user_id']) | set(sampled_edges2['interactor_id']))

In [209]:
friendship2 = pd.DataFrame(json_file['edges']).drop(columns=[2]).rename(columns={0: 'user_id', 1: 'friend_id'})

In [211]:
friendship_set = set(friendship2.apply(lambda row: frozenset([row['user_id'], row['friend_id']]), axis=1))


def is_friend_pair(row):
    pair = frozenset([row['target_user_id'], row['interactor_id']])
    return pair in friendship_set


edges2['is_friend'] = edges2.apply(is_friend_pair, axis=1)

In [255]:
valid_users = set(friendship2['user_id']) | set(friendship2['friend_id'])

edges2= edges2[
    edges2['target_user_id'].isin(valid_users) &
    edges2['interactor_id'].isin(valid_users)
].reset_index(drop=True)

In [265]:
nodes2

,id,first_name,last_name,domain,photo_file,photo_url,meta.bdate,meta.can_see_audio,meta.interests,meta.books,...,meta.status_audio.short_videos_allowed,meta.status_audio.stories_allowed,meta.status_audio.stories_cover_allowed,meta.status_audio.release_audio_id,meta.status_audio.subtitle,meta.status_audio.no_search,meta.status_audio.featured_artists,meta.status_audio.legal_notices_type,meta.status_audio.genre_id,meta.status_audio.album_id
0,530188288,Gleb,Volkin,id530188288,None,https://sun1-16.userapi.com/s/v1/ig2/DGlicXTkB...,11.3.2007,1.0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32130083,Pasha,Evmenov,ewmenow,None,https://sun1-24.userapi.com/s/v1/ig2/medM7uNml...,2.12,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,78190777,Alyona,Funtanina,id78190777,None,https://sun1-89.userapi.com/s/v1/ig2/XgwLU-8-V...,15.10.1986,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,103354795,Denis,Lukomsky,denislukom,None,https://sun1-27.userapi.com/s/v1/ig2/ze8H88HVS...,5.12.2002,1.0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110610897,Sladon,Komposter,id110610897,None,https://sun1-98.userapi.com/s/v1/ig2/0fERp9xm6...,22.8.1997,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100980,376421110,Igor,Kaspruk,id376421110,None,https://sun1-84.userapi.com/s/v1/ig1/sg6MA0dUB...,27.7.1961,1.0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100981,387007491,Israel,Work,id387007491,None,https://sun1-19.userapi.com/s/v1/ig1/0xCs6Ovl9...,NaN,1.0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100982,391949446,Arm,Armenia,id391949446,None,https://sun1-95.userapi.com/impg/DW4IDqvukChyc...,11.11.1986,1.0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100983,402101271,Veronika,Mostova,id402101271,None,https://sun1-97.userapi.com/impg/_nb2NhfE_jv_q...,27.8.1990,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100984,406596069,Vadim,Komerzan,v.komerzan,None,https://sun1-56.userapi.com/s/v1/ig1/9MGW01Ivz...,4.6.2003,1.0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
from collections import defaultdict

friends_dict = defaultdict(set)
for _, row in friendship2.iterrows():
    friends_dict[row['user_id']].add(row['friend_id'])
    friends_dict[row['friend_id']].add(row['user_id'])


def count_common_friends(row):
    u1 = row['target_user_id']
    u2 = row['interactor_id']
    return len(friends_dict[u1] & friends_dict[u2])


edges2['common_friends_count'] = edges2.apply(count_common_friends, axis=1)

edges2['user1'] = edges2[['target_user_id', 'interactor_id']].min(axis=1)
edges2['user2'] = edges2[['target_user_id', 'interactor_id']].max(axis=1)
aggregated = edges2.groupby(['user1', 'user2']).agg({
    'likes_count': 'sum',
    'comments_count': 'sum',
    'common_friends_count': 'first',
    'is_friend': 'max'
}).reset_index()



aggregated

,user1,user2,likes_count,comments_count,common_friends_count,is_friend
0,104206,30587838,1,0,0,True
1,126049,657252850,5,0,0,True
2,173080,116869195,1,0,0,True
3,204506,116869195,3,0,0,True
4,222197,116869195,2,0,0,True
...,...,...,...,...,...,...
7007,826979631,826979631,2,0,1,False
7008,828157101,828157101,0,1,3,False
7009,828331048,828331048,4,0,184,False
7010,828331048,831749173,5,0,0,True
7011,828331048,848485732,1,0,0,True

In [264]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from sklearn.utils.class_weight import compute_class_weight
import numpy as np
from xgboost import XGBClassifier


feature_columns = ['likes_count', 'comments_count', 'common_friends_count']

X = aggregated[feature_columns].fillna(0)
y = aggregated['is_friend'].astype(int)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

model = RandomForestClassifier(n_estimators=100,
        class_weight='balanced',
        random_state=42,
        n_jobs=-1)
pos_weight = len(y_train[y_train == 0]) / len(y_train[y_train == 1])
model_xgb = XGBClassifier(
        scale_pos_weight=pos_weight,
        random_state=42,
        eval_metric='logloss',
        use_label_encoder=False
    )
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1]

print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.71      0.81       871
           1       0.66      0.93      0.77       532

    accuracy                           0.79      1403
   macro avg       0.80      0.82      0.79      1403
weighted avg       0.84      0.79      0.80      1403


Confusion Matrix:
[[615 256]
 [ 35 497]]

In [4]:
nodes = nodes.dropna(subset=['first_name'])

In [5]:
nodes = nodes.drop_duplicates(subset=['id'])

In [6]:
nodes

,id,first_name,last_name,domain,photo_file,photo_url,meta.city.id,meta.city.title,meta.can_see_audio,meta.interests,...,meta.status_audio.owner_id,meta.status_audio.title,meta.status_audio.duration,meta.status_audio.is_explicit,meta.status_audio.is_focus_track,meta.status_audio.track_code,meta.status_audio.url,meta.status_audio.stream_duration,meta.status_audio.date,meta.status_audio.genre_id
0,179301939,Lyubov,Novoselova,id179301939,None,https://sun1-95.userapi.com/impg/DW4IDqvukChyc...,501.0,Sarapul,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,327327093,Anzhela,Levkina,id327327093,None,https://sun1-16.userapi.com/s/v1/ig1/VNiVPfPXI...,281.0,Brest,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,288357777,Vasily,Volkov,id288357777,None,https://sun1-24.userapi.com/s/v1/ig1/y6Dnjgjvq...,1032.0,Polotsk,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,55846307,Pashka,Polyakov,id55846307,None,https://sun1-18.userapi.com/s/v1/ig1/xdvoQkERj...,1463.0,Zelenograd,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,210288,Yana,Vasilyeva,dabasssista,None,https://sun1-23.userapi.com/s/v1/ig2/Z4emj1vbY...,1.0,Moscow,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8346,59192221,Gulshat,Ilshatovna,id59192221,None,https://sun1-20.userapi.com/s/v1/ig2/5X_P4-WTP...,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8347,59259047,Lera,Shukaylo,inkognito___vl,None,https://sun1-56.userapi.com/s/v1/ig2/7ZzD51eFE...,88.0,Naberezhnye Chelny,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8348,59285071,Gulia,Nizamutdinova,id59285071,None,https://sun1-26.userapi.com/s/v1/ig2/Voh4hHi_y...,88.0,Naberezhnye Chelny,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8349,60031769,Vlad,Mitenkov,id60031769,None,https://sun1-97.userapi.com/impg/_nb2NhfE_jv_q...,49.0,Yekaterinburg,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8350,60137743,Ksenia,Islamkhuzina,ksus14,None,https://sun1-24.userapi.com/s/v1/ig2/6l0jOJ0OF...,94.0,Nizhnekamsk,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
edges = pd.read_csv('../../edges.csv')

In [8]:
edges

,target_user_id,interactor_id,likes_count,comments_count,reposts_count
0,260762184,189326838,1,0,0
1,260762184,260762184,1,0,0
2,260762184,370224313,1,0,0
3,260762184,400282413,1,0,0
4,260762184,367322161,1,0,0
...,...,...,...,...,...
86134,224120056,814004012,1,0,0
86135,224120056,821004817,1,0,0
86136,224120056,120942437,1,0,0
86137,224120056,482835606,1,0,0
86138,224120056,-29809875,0,1,0

In [30]:
with open('../../nodes.json', 'r', encoding='utf-8') as f:
    json_file = json.load(f)

friendship = pd.DataFrame(json_file['edges']).drop(columns=[2]).rename(columns={0: 'user_id', 1: 'friend_id'})

In [31]:
friendship = friendship.dropna()
friendship = friendship.drop_duplicates(subset=['user_id', 'friend_id'])

In [32]:
friendship

         user_id  friend_id
0      288357777   55846307
2       55846307     210288
3       55846307     278285
4       55846307     444271
5       55846307     586269
...          ...        ...
19488  189244363   20232183
19489  189244363   34613926
19490  189244363   35951655
19491  189244363   30414089
19492  189244363  171883724

[16814 rows x 2 columns]

In [33]:
friendship_set = set(friendship.apply(lambda row: frozenset([row['user_id'], row['friend_id']]), axis=1))


def is_friend_pair(row):
    pair = frozenset([row['target_user_id'], row['interactor_id']])
    return pair in friendship_set


edges['is_friend'] = edges.apply(is_friend_pair, axis=1)

In [35]:
edges['is_friend'].value_counts()

is_friend
False    85884
True       255
Name: count, dtype: int64

In [199]:
edges = pd.read_csv('../../edges.csv')
sampled_edges = edges.drop_duplicates(subset='target_user_id')
sampled_edges = sampled_edges.sample(n=100)
set_ids = set(sampled_edges['target_user_id']) | set(sampled_edges['interactor_id'])
len(set_ids)

186

In [37]:
nodes[nodes['id'] == 288357777]

,id,first_name,last_name,domain,photo_file,photo_url,meta.city.id,meta.city.title,meta.can_see_audio,meta.interests,...,meta.status_audio.owner_id,meta.status_audio.title,meta.status_audio.duration,meta.status_audio.is_explicit,meta.status_audio.is_focus_track,meta.status_audio.track_code,meta.status_audio.url,meta.status_audio.stream_duration,meta.status_audio.date,meta.status_audio.genre_id
4,288357777,Vasily,Volkov,id288357777,None,https://sun1-24.userapi.com/s/v1/ig1/y6Dnjgjvq...,1032.0,Polotsk,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
edges.iloc[100]

target_user_id    283301972
interactor_id     336410992
likes_count               1
comments_count            0
reposts_count             0
is_friend             False
Name: 100, dtype: object

In [94]:
edges = edges.drop(columns=['reposts_count'])

In [95]:
edges[edges['is_friend']==True]

       target_user_id  interactor_id  likes_count  comments_count  is_friend
129          55846307        1590824            1               1       True
130          55846307        2559871            4               0       True
131          55846307        5123553            1               0       True
133          55846307        6432619            1               0       True
134          55846307        8220590            1               0       True
...               ...            ...          ...             ...        ...
55180       432805423      202629375            1               0       True
55181       432805423      281302757            1               0       True
55183       432805423      378701994            1               0       True
72920        28978854      432805423            2               0       True
74325        54572101      432805423            1               0       True

[255 rows x 5 columns]

In [160]:
edges[edges['target_user_id']==281302757]

Empty DataFrame
Columns: [target_user_id, interactor_id, likes_count, comments_count, is_friend]
Index: []

In [124]:
s = len(set(edges['interactor_id'].unique()) & set(edges['target_user_id']))
print(s)

771

In [156]:
edges['comments_count'].value_counts()

comments_count
0      83292
1       2265
2        422
3         76
4         45
5         13
6          8
7          3
12         2
8          2
9          2
36         1
33         1
77         1
328        1
17         1
13         1
64         1
25         1
498        1
Name: count, dtype: int64

In [153]:
nodes[nodes['id'] == 482835606]

Empty DataFrame
Columns: [id, first_name, last_name, domain, photo_file, photo_url, meta.city.id, meta.city.title, meta.can_see_audio, meta.interests, meta.books, meta.tv, meta.quotes, meta.about, meta.games, meta.movies, meta.activities, meta.music, meta.can_write_private_message, meta.can_send_friend_request, meta.site, meta.last_seen.platform, meta.last_seen.time, meta.followers_count, meta.career, meta.university, meta.university_name, meta.faculty, meta.faculty_name, meta.graduation, meta.home_town, meta.relation, meta.universities, meta.schools, meta.relatives, meta.sex, meta.verified, meta.can_access_closed, meta.is_closed, meta.photo_url, meta.bdate, meta.status, meta.personal.langs, meta.personal.langs_full, meta.occupation.name, meta.occupation.type, meta.personal.alcohol, meta.personal.inspired_by, meta.personal.life_main, meta.personal.people_main, meta.personal.smoking, meta.occupation.id, meta.skype, meta.occupation.graduate_year, meta.occupation.city_id, meta.education_form, meta.education_status, meta.personal.political, meta.relation_partner.id, meta.relation_partner.first_name, meta.relation_partner.last_name, meta.personal.religion, meta.personal.religion_id, meta.instagram, meta.deactivated, meta.livejournal, meta.facebook, meta.facebook_name, meta.status_audio.artist, meta.status_audio.id, meta.status_audio.owner_id, meta.status_audio.title, meta.status_audio.duration, meta.status_audio.is_explicit, meta.status_audio.is_focus_track, meta.status_audio.track_code, meta.status_audio.url, meta.status_audio.stream_duration, meta.status_audio.date, meta.status_audio.genre_id]
Index: []

[0 rows x 80 columns]

In [149]:
friendship[friendship['user_id']==260762184]

Empty DataFrame
Columns: [user_id, friend_id]
Index: []

In [ ]:
for i in edges:
    if not (friendship.loc[i]).any():
    print('+')

+

In [ ]:
len(edges['target_user_id'].unique())

77462

In [126]:
nodes['id']

0       179301939
2       327327093
4       288357777
5        55846307
8          210288
          ...
8346     59192221
8347     59259047
8348     59285071
8349     60031769
8350     60137743
Name: id, Length: 6714, dtype: int64

In [58]:
have_friends = friendship['user_id']

In [69]:
shf = set(have_friends)

In [70]:
len(shf)

120

In [ ]:
len(edges['interactor_id'].value_counts())

77462

In [189]:
set(edges['interactor_id']) & set(edges['target_user_id'])

{1186205,
 1939920,
 2096458,
 2529463,
 2888163,
 2992385,
 3336589,
 3654241,
 3822632,
 3993225,
 4183711,
 4777171,
 4796540,
 5123553,
 5267669,
 6432619,
 6505209,
 7571350,
 8030497,
 8045670,
 8292833,
 8853225,
 9068194,
 9923336,
 10059255,
 10085279,
 10428907,
 11728726,
 12038899,
 12756666,
 13976479,
 14040748,
 14499087,
 14634020,
 17192893,
 19440457,
 19694780,
 20214034,
 20699390,
 20708651,
 22330354,
 22935063,
 24014538,
 24980376,
 26520039,
 26661366,
 27110902,
 27295701,
 28978854,
 29341724,
 29594861,
 30028655,
 30078265,
 31781662,
 34490689,
 34675402,
 34777600,
 35729654,
 36572399,
 37176576,
 38402115,
 39371659,
 41616104,
 42118770,
 47094883,
 49531240,
 49672579,
 50486094,
 50706057,
 51278027,
 51952587,
 53809248,
 54327597,
 54572101,
 54918623,
 54971617,
 55846307,
 59997518,
 60015021,
 60220605,
 61325544,
 61458119,
 61828309,
 62043573,
 64561543,
 66281180,
 66353461,
 66742299,
 68816480,
 70152728,
 72908141,
 73055924,
 74290648,
 76590028,
 78902366,
 79248812,
 84942285,
 88618065,
 89303929,
 89420574,
 90446769,
 90948766,
 90965136,
 91276783,
 92805909,
 97041613,
 98595783,
 99220772,
 100203405,
 102328044,
 102727885,
 105317576,
 106568182,
 107265659,
 111668375,
 111683309,
 111867424,
 113360761,
 113409263,
 114449243,
 116084700,
 116226067,
 116818063,
 116869195,
 117520490,
 123029473,
 123464321,
 123509394,
 123833505,
 125160485,
 125655611,
 126575400,
 127116305,
 131579516,
 132095345,
 132571386,
 132583093,
 132839123,
 133375299,
 134168736,
 134219005,
 134312012,
 134571414,
 134714108,
 135060340,
 135106748,
 135117543,
 135591648,
 135812233,
 136071579,
 136581308,
 138014846,
 138213487,
 138928999,
 139020827,
 139360656,
 140649914,
 140984987,
 140992971,
 141006297,
 142358221,
 143606808,
 143744999,
 144025659,
 145497201,
 145606496,
 145885603,
 146686957,
 146745794,
 147547342,
 148109220,
 148951492,
 149968545,
 150628231,
 151000538,
 151273687,
 151380824,
 151539737,
 152300159,
 152538269,
 153820808,
 154487449,
 154658164,
 154844579,
 155862663,
 157332536,
 158121115,
 158429505,
 158435796,
 159862217,
 159954206,
 161275365,
 161604508,
 161761908,
 161847371,
 162053701,
 163464809,
 163812500,
 164407012,
 164860818,
 165453456,
 165496246,
 165619689,
 165645486,
 165766379,
 167699395,
 168053030,
 168349277,
 168676099,
 168727469,
 168795783,
 168824610,
 169023084,
 169427210,
 169538821,
 169615054,
 169683007,
 170235158,
 170957685,
 171124683,
 171694239,
 171931735,
 172269979,
 172529024,
 172785659,
 173125714,
 174041428,
 175108960,
 175658183,
 176528760,
 176960291,
 177018477,
 178324069,
 178518476,
 178914224,
 178979979,
 179105327,
 179608065,
 180993325,
 181473818,
 181594549,
 182070662,
 182192541,
 182347208,
 183987576,
 183994783,
 184449476,
 184924899,
 185986820,
 186361930,
 187683400,
 187713798,
 188149972,
 188169991,
 188320667,
 188351687,
 188721103,
 188751222,
 189464437,
 189575179,
 190006274,
 190868761,
 190962684,
 191162412,
 192149781,
 192276484,
 192801610,
 193548813,
 193766248,
 194333050,
 194390627,
 194547233,
 194602590,
 195304602,
 195984466,
 196039527,
 196942370,
 197008371,
 197077057,
 197083127,
 197181847,
 197283874,
 197602685,
 197605934,
 197864057,
 197894545,
 198670209,
 199788112,
 200444172,
 200767295,
 201213041,
 201972790,
 202820259,
 202885463,
 203180473,
 203530708,
 204412588,
 205252464,
 206713405,
 207597239,
 207647634,
 207796496,
 209601929,
 209775425,
 210948979,
 213633350,
 213693372,
 214008284,
 214012254,
 215161820,
 215995875,
 216273891,
 216819137,
 216966251,
 217585888,
 218359470,
 218517087,
 218598224,
 219679417,
 220754385,
 221041596,
 221555175,
 222280817,
 222690071,
 222762416,
 223722178,
 223758413,
 229095022,
 229490166,
 235109921,
 235639138,
 235769697,
 236756451,
 237231913,
 240298530,
 240305272,
 240383151,
 243757212,
 244729602,
 246329452,
 248334254,
 248878689,
 250476867,
 254434553,
 257122427,
 258749416,
 260049639,
 260762184,
 262798761,
 265163732,
 265699899,
 267591989,
 268728560,
 272059835,
 273578351,
 274551456,
 274739605,
 277118866,
 277304673,
 278881351,
 280639368,
 281554071,
 281946686,
 282696908,
 283869248,
 284030825,
 286253072,
 287333828,
 287433856,
 287446427,
 288137618,
 288691968,
 294652639,
 295247923,
 295267739,
 296327368,
 296547914,
 298330546,
 298585424,
 298923389,
 301331325,
 303252267,
 303367861,
 305289827,
 306338964,
 306739771,
 307204692,
 311107440,
 312651028,
 316519019,
 317367876,
 317510945,
 322097638,
 324797678,
 325568413,
 325577708,
 326232156,
 329450760,
 332323773,
 333597445,
 335061775,
 335439646,
 339827439,
 339886888,
 340804549,
 341274359,
 342155933,
 342811355,
 342929449,
 344967600,
 345460059,
 346952191,
 347615936,
 349360985,
 352769008,
 354223927,
 355411576,
 355512739,
 356410531,
 356900507,
 358072612,
 358211192,
 358720237,
 360622907,
 360981711,
 361795236,
 362014764,
 363723294,
 364237169,
 364431749,
 365958581,
 366150535,
 368518930,
 368640743,
 371553299,
 372076598,
 373649059,
 374281490,
 374838671,
 375539635,
 376212753,
 376543756,
 376779935,
 376935387,
 377518466,
 377979552,
 378040439,
 378244038,
 378760616,
 379125267,
 379974761,
 380924248,
 381467406,
 382693983,
 382922778,
 382994621,
 386266027,
 387065495,
 388351951,
 388373743,
 389473878,
 390391939,
 390738219,
 390896952,
 391098197,
 392984394,
 393218043,
 393373102,
 393954458,
 394332115,
 395373593,
 396071140,
 396553096,
 396890230,
 399045811,
 399542368,
 399771022,
 401207116,
 402307098,
 402988857,
 403970965,
 404709740,
 404939801,
 405329918,
 405511929,
 405846473,
 406964678,
 407047385,
 407060350,
 407304626,
 407360505,
 407675837,
 407966639,
 408305812,
 408844060,
 411519714,
 412164723,
 412251675,
 418676132,
 419658098,
 421000942,
 421723374,
 422044693,
 422781076,
 422904092,
 423225795,
 424698794,
 425077984,
 425205686,
 425554768,
 426191607,
 427918462,
 427962112,
 428176831,
 428414968,
 429039471,
 429398283,
 431598159,
 431837227,
 432805423,
 433402495,
 434294489,
 436717184,
 438667845,
 442503054,
 442742774,
 444276804,
 444599253,
 446359279,
 448727898,
 450805810,
 451760021,
 452691598,
 456368716,
 458278395,
 458348072,
 458708944,
 463334261,
 467126305,
 468766724,
 468795503,
 469383131,
 469600619,
 470212788,
 471726900,
 472960186,
 473889008,
 474064633,
 475383141,
 476213690,
 477248728,
 479180709,
 480294008,
 484240726,
 484279017,
 486952010,
 487183844,
 487246515,
 488039742,
 496202831,
 497771482,
 498246892,
 499601933,
 500287890,
 501119215,
 501353797,
 501743066,
 503121042,
 504204783,
 504514885,
 504543275,
 504909288,
 506103785,
 506833479,
 507840336,
 509713386,
 510648308,
 513519361,
 515378311,
 517554824,
 518211305,
 518886660,
 521014314,
 522536876,
 522769173,
 523300852,
 524154295,
 525261567,
 525786072,
 526430001,
 526452873,
 527221659,
 530038124,
 530188288,
 530898400,
 530961077,
 531982073,
 532723841,
 532887059,
 533546395,
 533693040,
 533985016,
 534377810,
 535132494,
 535476442,
 535747723,
 536737914,
 539329415,
 539481720,
 540212319,
 540617877,
 542568304,
 542804044,
 545969286,
 549213014,
 550113970,
 550579289,
 552211322,
 552225130,
 553009460,
 554347118,
 555932262,
 556317949,
 556922028,
 560696060,
 562670307,
 565269442,
 565491362,
 565574745,
 566173111,
 567726384,
 568112285,
 569041531,
 569266179,
 572185447,
 573769026,
 574846458,
 575087425,
 575727348,
 576467752,
 576700974,
 576977310,
 578050433,
 578540408,
 578652289,
 578974811,
 579229854,
 580600817,
 580839952,
 582510798,
 582602877,
 582663708,
 583370344,
 590952730,
 592278978,
 592309911,
 596398629,
 596413701,
 596518225,
 599570369,
 600110466,
 602051583,
 602620354,
 602786132,
 606444312,
 606605671,
 606977196,
 608437538,
 608735020,
 609057144,
 611276337,
 612271442,
 615804175,
 616844005,
 619173701,
 619662346,
 622063710,
 627441423,
 627876013,
 629620506,
 632224121,
 633062963,
 634782974,
 635416445,
 635577437,
 636473712,
 638778146,
 641001385,
 643380796,
 644730074,
 646479314,
 648913753,
 649838891,
 650278669,
 651361167,
 651941171,
 653475577,
 656211483,
 656994575,
 657252850,
 657470667,
 657752965,
 658383938,
 658392204,
 661909731,
 661975067,
 663183243,
 663379081,
 663725418,
 663883570,
 664262397,
 664554055,
 666421684,
 667156330,
 668545272,
 669787170,
 670542176,
 670592442,
 677482256,
 679389122,
 679720333,
 683205975,
 684332301,
 686719242,
 687858529,
 688288101,
 694096840,
 696111368,
 696294867,
 697156720,
 698806533,
 699713244,
 700213258,
 700231628,
 701730251,
 701898754,
 701916741,
 701999231,
 704597311,
 709571605,
 712502687,
 714173264,
 714979919,
 716537051,
 716656917,
 718540985,
 719765547,
 721693519,
 721993103,
 729105890,
 729882535,
 730597340,
 730948803,
 740223080,
 740291967,
 741576635,
 745509054,
 750640905,
 760405342,
 760886865,
 762110293,
 766763133,
 775005771,
 790681936,
 813617623,
 820424361,
 821821103,
 826979631,
 828157101,
 828331048,
 828686604}

In [187]:
nodes[nodes['id'].isin((set(edges['interactor_id']) & set(edges['target_user_id'])))]

,id,first_name,last_name,domain,photo_file,photo_url,meta.city.id,meta.city.title,meta.can_see_audio,meta.interests,...,meta.status_audio.owner_id,meta.status_audio.title,meta.status_audio.duration,meta.status_audio.is_explicit,meta.status_audio.is_focus_track,meta.status_audio.track_code,meta.status_audio.url,meta.status_audio.stream_duration,meta.status_audio.date,meta.status_audio.genre_id
5,55846307,Pashka,Polyakov,id55846307,None,https://sun1-18.userapi.com/s/v1/ig1/xdvoQkERj...,1463.0,Zelenograd,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1186205,Vera,Dorokhova,id1186205,None,https://sun1-18.userapi.com/s/v1/ig1/Jks3BOhKq...,1.0,Moscow,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1939920,Kirill,But,id1939920,None,https://sun1-83.userapi.com/s/v1/ig2/Iuf_2wY3n...,1.0,Moscow,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2096458,Andrey,Gerasimov,id2096458,None,https://sun1-92.userapi.com/s/v1/ig2/yuYiFh951...,1.0,Moscow,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2888163,Diman,Dimanovich,id2888163,None,https://sun1-86.userapi.com/s/v1/ig2/IMwAy31Rc...,1.0,Moscow,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2778,221041596,Alyona,Marchenko,id221041596,None,https://sun1-24.userapi.com/s/v1/ig1/Kqkn-kNsf...,1.0,Moscow,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2781,221555175,Oleg,Ilyukin,ishk.ruslan,None,https://sun1-19.userapi.com/s/v1/ig2/nvTYDHeCE...,1767.0,Sibay,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2782,222280817,Zhanna,Kirina,id222280817,None,https://sun1-25.userapi.com/s/v1/ig1/MD8kdG-kE...,1.0,Moscow,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2783,222690071,Barsukov,Roman,evil_sithe,None,https://sun1-96.userapi.com/s/v1/ig2/4ZMdN95R0...,1.0,Moscow,1.0,"Интересует только моя деятельность, читай выше.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2788,223722178,Kristina,Safonova,i.ivanych91,None,https://sun1-13.userapi.com/s/v1/ig1/roA721gJ0...,1.0,Moscow,1.0,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nodes

In [ ]:
nodes[n]

In [183]:
set(edges['interactor_id']) & set(edges['target_user_id'])

{1186205,
 1939920,
 2096458,
 2529463,
 2888163,
 2992385,
 3336589,
 3654241,
 3822632,
 3993225,
 4183711,
 4777171,
 4796540,
 5123553,
 5267669,
 6432619,
 6505209,
 7571350,
 8030497,
 8045670,
 8292833,
 8853225,
 9068194,
 9923336,
 10059255,
 10085279,
 10428907,
 11728726,
 12038899,
 12756666,
 13976479,
 14040748,
 14499087,
 14634020,
 17192893,
 19440457,
 19694780,
 20214034,
 20699390,
 20708651,
 22330354,
 22935063,
 24014538,
 24980376,
 26520039,
 26661366,
 27110902,
 27295701,
 28978854,
 29341724,
 29594861,
 30028655,
 30078265,
 31781662,
 34490689,
 34675402,
 34777600,
 35729654,
 36572399,
 37176576,
 38402115,
 39371659,
 41616104,
 42118770,
 47094883,
 49531240,
 49672579,
 50486094,
 50706057,
 51278027,
 51952587,
 53809248,
 54327597,
 54572101,
 54918623,
 54971617,
 55846307,
 59997518,
 60015021,
 60220605,
 61325544,
 61458119,
 61828309,
 62043573,
 64561543,
 66281180,
 66353461,
 66742299,
 68816480,
 70152728,
 72908141,
 73055924,
 74290648,
 76590028,
 78902366,
 79248812,
 84942285,
 88618065,
 89303929,
 89420574,
 90446769,
 90948766,
 90965136,
 91276783,
 92805909,
 97041613,
 98595783,
 99220772,
 100203405,
 102328044,
 102727885,
 105317576,
 106568182,
 107265659,
 111668375,
 111683309,
 111867424,
 113360761,
 113409263,
 114449243,
 116084700,
 116226067,
 116818063,
 116869195,
 117520490,
 123029473,
 123464321,
 123509394,
 123833505,
 125160485,
 125655611,
 126575400,
 127116305,
 131579516,
 132095345,
 132571386,
 132583093,
 132839123,
 133375299,
 134168736,
 134219005,
 134312012,
 134571414,
 134714108,
 135060340,
 135106748,
 135117543,
 135591648,
 135812233,
 136071579,
 136581308,
 138014846,
 138213487,
 138928999,
 139020827,
 139360656,
 140649914,
 140984987,
 140992971,
 141006297,
 142358221,
 143606808,
 143744999,
 144025659,
 145497201,
 145606496,
 145885603,
 146686957,
 146745794,
 147547342,
 148109220,
 148951492,
 149968545,
 150628231,
 151000538,
 151273687,
 151380824,
 151539737,
 152300159,
 152538269,
 153820808,
 154487449,
 154658164,
 154844579,
 155862663,
 157332536,
 158121115,
 158429505,
 158435796,
 159862217,
 159954206,
 161275365,
 161604508,
 161761908,
 161847371,
 162053701,
 163464809,
 163812500,
 164407012,
 164860818,
 165453456,
 165496246,
 165619689,
 165645486,
 165766379,
 167699395,
 168053030,
 168349277,
 168676099,
 168727469,
 168795783,
 168824610,
 169023084,
 169427210,
 169538821,
 169615054,
 169683007,
 170235158,
 170957685,
 171124683,
 171694239,
 171931735,
 172269979,
 172529024,
 172785659,
 173125714,
 174041428,
 175108960,
 175658183,
 176528760,
 176960291,
 177018477,
 178324069,
 178518476,
 178914224,
 178979979,
 179105327,
 179608065,
 180993325,
 181473818,
 181594549,
 182070662,
 182192541,
 182347208,
 183987576,
 183994783,
 184449476,
 184924899,
 185986820,
 186361930,
 187683400,
 187713798,
 188149972,
 188169991,
 188320667,
 188351687,
 188721103,
 188751222,
 189464437,
 189575179,
 190006274,
 190868761,
 190962684,
 191162412,
 192149781,
 192276484,
 192801610,
 193548813,
 193766248,
 194333050,
 194390627,
 194547233,
 194602590,
 195304602,
 195984466,
 196039527,
 196942370,
 197008371,
 197077057,
 197083127,
 197181847,
 197283874,
 197602685,
 197605934,
 197864057,
 197894545,
 198670209,
 199788112,
 200444172,
 200767295,
 201213041,
 201972790,
 202820259,
 202885463,
 203180473,
 203530708,
 204412588,
 205252464,
 206713405,
 207597239,
 207647634,
 207796496,
 209601929,
 209775425,
 210948979,
 213633350,
 213693372,
 214008284,
 214012254,
 215161820,
 215995875,
 216273891,
 216819137,
 216966251,
 217585888,
 218359470,
 218517087,
 218598224,
 219679417,
 220754385,
 221041596,
 221555175,
 222280817,
 222690071,
 222762416,
 223722178,
 223758413,
 229095022,
 229490166,
 235109921,
 235639138,
 235769697,
 236756451,
 237231913,
 240298530,
 240305272,
 240383151,
 243757212,
 244729602,
 246329452,
 248334254,
 248878689,
 250476867,
 254434553,
 257122427,
 258749416,
 260049639,
 260762184,
 262798761,
 265163732,
 265699899,
 267591989,
 268728560,
 272059835,
 273578351,
 274551456,
 274739605,
 277118866,
 277304673,
 278881351,
 280639368,
 281554071,
 281946686,
 282696908,
 283869248,
 284030825,
 286253072,
 287333828,
 287433856,
 287446427,
 288137618,
 288691968,
 294652639,
 295247923,
 295267739,
 296327368,
 296547914,
 298330546,
 298585424,
 298923389,
 301331325,
 303252267,
 303367861,
 305289827,
 306338964,
 306739771,
 307204692,
 311107440,
 312651028,
 316519019,
 317367876,
 317510945,
 322097638,
 324797678,
 325568413,
 325577708,
 326232156,
 329450760,
 332323773,
 333597445,
 335061775,
 335439646,
 339827439,
 339886888,
 340804549,
 341274359,
 342155933,
 342811355,
 342929449,
 344967600,
 345460059,
 346952191,
 347615936,
 349360985,
 352769008,
 354223927,
 355411576,
 355512739,
 356410531,
 356900507,
 358072612,
 358211192,
 358720237,
 360622907,
 360981711,
 361795236,
 362014764,
 363723294,
 364237169,
 364431749,
 365958581,
 366150535,
 368518930,
 368640743,
 371553299,
 372076598,
 373649059,
 374281490,
 374838671,
 375539635,
 376212753,
 376543756,
 376779935,
 376935387,
 377518466,
 377979552,
 378040439,
 378244038,
 378760616,
 379125267,
 379974761,
 380924248,
 381467406,
 382693983,
 382922778,
 382994621,
 386266027,
 387065495,
 388351951,
 388373743,
 389473878,
 390391939,
 390738219,
 390896952,
 391098197,
 392984394,
 393218043,
 393373102,
 393954458,
 394332115,
 395373593,
 396071140,
 396553096,
 396890230,
 399045811,
 399542368,
 399771022,
 401207116,
 402307098,
 402988857,
 403970965,
 404709740,
 404939801,
 405329918,
 405511929,
 405846473,
 406964678,
 407047385,
 407060350,
 407304626,
 407360505,
 407675837,
 407966639,
 408305812,
 408844060,
 411519714,
 412164723,
 412251675,
 418676132,
 419658098,
 421000942,
 421723374,
 422044693,
 422781076,
 422904092,
 423225795,
 424698794,
 425077984,
 425205686,
 425554768,
 426191607,
 427918462,
 427962112,
 428176831,
 428414968,
 429039471,
 429398283,
 431598159,
 431837227,
 432805423,
 433402495,
 434294489,
 436717184,
 438667845,
 442503054,
 442742774,
 444276804,
 444599253,
 446359279,
 448727898,
 450805810,
 451760021,
 452691598,
 456368716,
 458278395,
 458348072,
 458708944,
 463334261,
 467126305,
 468766724,
 468795503,
 469383131,
 469600619,
 470212788,
 471726900,
 472960186,
 473889008,
 474064633,
 475383141,
 476213690,
 477248728,
 479180709,
 480294008,
 484240726,
 484279017,
 486952010,
 487183844,
 487246515,
 488039742,
 496202831,
 497771482,
 498246892,
 499601933,
 500287890,
 501119215,
 501353797,
 501743066,
 503121042,
 504204783,
 504514885,
 504543275,
 504909288,
 506103785,
 506833479,
 507840336,
 509713386,
 510648308,
 513519361,
 515378311,
 517554824,
 518211305,
 518886660,
 521014314,
 522536876,
 522769173,
 523300852,
 524154295,
 525261567,
 525786072,
 526430001,
 526452873,
 527221659,
 530038124,
 530188288,
 530898400,
 530961077,
 531982073,
 532723841,
 532887059,
 533546395,
 533693040,
 533985016,
 534377810,
 535132494,
 535476442,
 535747723,
 536737914,
 539329415,
 539481720,
 540212319,
 540617877,
 542568304,
 542804044,
 545969286,
 549213014,
 550113970,
 550579289,
 552211322,
 552225130,
 553009460,
 554347118,
 555932262,
 556317949,
 556922028,
 560696060,
 562670307,
 565269442,
 565491362,
 565574745,
 566173111,
 567726384,
 568112285,
 569041531,
 569266179,
 572185447,
 573769026,
 574846458,
 575087425,
 575727348,
 576467752,
 576700974,
 576977310,
 578050433,
 578540408,
 578652289,
 578974811,
 579229854,
 580600817,
 580839952,
 582510798,
 582602877,
 582663708,
 583370344,
 590952730,
 592278978,
 592309911,
 596398629,
 596413701,
 596518225,
 599570369,
 600110466,
 602051583,
 602620354,
 602786132,
 606444312,
 606605671,
 606977196,
 608437538,
 608735020,
 609057144,
 611276337,
 612271442,
 615804175,
 616844005,
 619173701,
 619662346,
 622063710,
 627441423,
 627876013,
 629620506,
 632224121,
 633062963,
 634782974,
 635416445,
 635577437,
 636473712,
 638778146,
 641001385,
 643380796,
 644730074,
 646479314,
 648913753,
 649838891,
 650278669,
 651361167,
 651941171,
 653475577,
 656211483,
 656994575,
 657252850,
 657470667,
 657752965,
 658383938,
 658392204,
 661909731,
 661975067,
 663183243,
 663379081,
 663725418,
 663883570,
 664262397,
 664554055,
 666421684,
 667156330,
 668545272,
 669787170,
 670542176,
 670592442,
 677482256,
 679389122,
 679720333,
 683205975,
 684332301,
 686719242,
 687858529,
 688288101,
 694096840,
 696111368,
 696294867,
 697156720,
 698806533,
 699713244,
 700213258,
 700231628,
 701730251,
 701898754,
 701916741,
 701999231,
 704597311,
 709571605,
 712502687,
 714173264,
 714979919,
 716537051,
 716656917,
 718540985,
 719765547,
 721693519,
 721993103,
 729105890,
 729882535,
 730597340,
 730948803,
 740223080,
 740291967,
 741576635,
 745509054,
 750640905,
 760405342,
 760886865,
 762110293,
 766763133,
 775005771,
 790681936,
 813617623,
 820424361,
 821821103,
 826979631,
 828157101,
 828331048,
 828686604}

In [163]:
len(edges['target_user_id'].value_counts())

1052

In [166]:
sampled_edges = edges.drop_duplicates(subset='target_user_id')

In [190]:
sampled_edges = sampled_edges.sample(n=100)

In [191]:
sampled_edges

       target_user_id  interactor_id  likes_count  comments_count  is_friend
71502        17768893      247433459            5               0      False
25985       552225130      213349976            1               0      False
53595       766763133      809734803            1               0      False
40586       376935387      222369716            1               0      False
37368       743889968      417104642            1               0      False
...               ...            ...          ...             ...        ...
84511       205252464       29693732            5               0      False
36276       663883570      169023084            4               0      False
46652       114449243       33148155            1               0      False
82252       197077057      143540690            2               0      False
47914       501743066      499728270            1               0      False

[100 rows x 5 columns]

In [192]:
set_ids = set(sampled_edges['target_user_id']) | set(sampled_edges['interactor_id'])

In [193]:
print(len(set_ids))

193

In [66]:
nodes_without_friends = nodes[~nodes['id'].isin(shf)]

In [76]:
nodes_without_friends.to_csv('1.csv')

In [84]:
friendship[friendship['user_id'].isin(friendship['friend_id'])]['user_id'].unique()

array([288357777,  55846307, 592630078, 332323773, 425554768, 496597108,
       360981711, 382089357, 355512739, 371404462, 754110083, 460132198,
       432805423, 141263294, 137953186, 272332784, 324794954, 454723886,
       849853976, 395926934, 404284509, 464651141, 375431034, 231957672,
       371235977,  32139041,  13212791, 345684715, 335012059, 586593132,
       583602971, 389763287, 375532131,  54966692, 394460318, 395474310,
       197833289, 582564854, 723206013, 848843702, 380221737, 374539357,
       746055142, 593319553, 286603903, 159700076,  96903539,  41191971,
       177195982, 164560631, 173818302, 152247182,  20371699, 153872531,
       136493605, 122570289, 137723804, 237805392, 463419391, 420567656,
       218946760, 170307138, 454321589, 343063348, 744967389, 782036426,
       382025708, 541164978, 539436914,  28958461,  28782936, 431838326,
       431524100, 317661612, 314814303, 815348202, 188697522, 455559973,
         1890598])