In [1]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv("..\data\datatable.csv", nrows=1000000)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Aleksey\AppData\Local\Temp\ipykernel_6416\3516398827.py:1: SyntaxWarning: invalid escape sequence '\d'
  data = pd.read_csv("..\data\datatable.csv", nrows=1000000)

In [13]:
data = data.fillna(-1)

In [14]:
data['alcohol'].value_counts()

alcohol
-1.0    948565
 0.0     34622
 3.0      5279
 4.0      4419
 2.0      3424
 1.0      2061
 5.0      1630
Name: count, dtype: int64

In [15]:
data.columns

Index(['status', 'sex', 'birthdate', 'city_id', 'country_id', 'alcohol',
       'smoking', 'political_orientation', 'life_main_priority',
       'people_main_priority', 'relationship_status', 'languages_count',
       'followers_count', 'university_id', 'company_group_id'],
      dtype='object')

In [17]:
for i in data.columns:
    print(data[i].value_counts())

status
1    739571
0    260429
Name: count, dtype: int64
sex
1        441463
2        431795
0        126721
3            12
127           2
7             1
117           1
999           1
66            1
21            1
67467         1
49            1
Name: count, dtype: int64
birthdate
-1            711422
1988-01-01       165
1987-05-05       155
1987-01-01       154
1988-03-01       148
               ...
1994-02-06         1
1963-06-29         1
1967-07-26         1
1998-07-03         1
1966-11-12         1
Name: count, Length: 15734, dtype: int64
city_id
-1.0          352213
 2.0          325312
 1.0          168837
 99.0           5491
 49.0           4710
               ...
 1930737.0         1
 1100945.0         1
 20488.0           1
 7558.0            1
 1046237.0         1
Name: count, Length: 7085, dtype: int64
country_id
 1.000000e+00    635821
-1.000000e+00    313039
 2.000000e+00      7829
 9.000000e+00      6402
 4.000000e+00      4240
                  ...
 9.999990e+05         1
 1.000000e+08         1
 9.990000e+02         1
 1.215752e+09         1
 2.000000e+07         1
Name: count, Length: 244, dtype: int64
alcohol
-1.0    948565
 0.0     34622
 3.0      5279
 4.0      4419
 2.0      3424
 1.0      2061
 5.0      1630
Name: count, dtype: int64
smoking
-1.0    948174
 0.0     30940
 2.0      7444
 1.0      5409
 4.0      3974
 3.0      3061
 5.0       998
Name: count, dtype: int64
political_orientation
-1.0       938259
 3.0        20815
 8.0        13251
 4.0         9294
 6.0         6479
 1.0         3295
 2.0         3069
 5.0         2795
 7.0         2274
 9.0          465
 666.0          1
 9999.0         1
 13.0           1
 10.0           1
Name: count, dtype: int64
life_main_priority
-1.0    949358
 0.0     32093
 1.0      7035
 6.0      6363
 5.0      2545
 7.0       744
 4.0       599
 3.0       508
 8.0       412
 2.0       343
Name: count, dtype: int64
people_main_priority
-1.0    949104
 0.0     31540
 2.0     10466
 6.0      4205
 1.0      2329
 5.0      1769
 4.0       371
 3.0       216
Name: count, dtype: int64
relationship_status
-1.0     810747
 0.0      93281
 4.0      53081
 1.0      25495
 2.0       5367
 6.0       4704
 7.0       3049
 5.0       2717
 3.0       1379
 8.0        173
-99.0         7
Name: count, dtype: int64
languages_count
-1.0     927191
 1.0      58160
 2.0       8320
 3.0       4290
 4.0       1443
 5.0        385
 6.0        115
 7.0         43
 8.0         18
 9.0         10
 10.0         6
 12.0         5
 11.0         4
 16.0         2
 30.0         2
 14.0         2
 21.0         1
 20.0         1
 15.0         1
 29.0         1
Name: count, dtype: int64
followers_count
-1.0        387736
 0.0         24790
 1.0         18940
 2.0         12656
 3.0          9758
             ...
 19827.0         1
 5996.0          1
 4119.0          1
 9192.0          1
 29744.0         1
Name: count, Length: 6603, dtype: int64
university_id
-1.0          810747
 0.0           40405
 1.0            9315
 56.0           5810
 1173072.0      5394
               ...
 44608.0           1
 32257.0           1
 158429.0          1
 21245.0           1
 32267.0           1
Name: count, Length: 7329, dtype: int64
company_group_id
-1.0            989941
 11283947.0         38
 22822305.0         35
 22522055.0         30
 94.0               27
                 ...
 107744350.0         1
 38632612.0          1
 93674375.0          1
 5707225.0           1
 38228859.0          1
Name: count, Length: 8813, dtype: int64

In [21]:
len(data[(data["country_id"] != -1) & (data["city_id"] == -1)])

39313

In [22]:
len(data[(data["country_id"] == -1) & (data["city_id"] != -1)])

139